<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>

	
	<link rel="stylesheet" type="text/css" href="./css/main.css">
		
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>


</head>
<body>

<!-- header -->
<div id="header">
    <div id="logo-bar">
        <a href="#">
            <img alt="logo" class="logo" src="#">
        </a>
    </div>
    <div class="nav-buttons">
        <a id="about" href="#" class="btn">About</a>
        <a id="pricing" href="#" class="btn">Pricing</a>
        <a id="get-kendoui" href="#" class="btn btn-primary">Try now</a>
    </div>
</div>

<!-- -->
<div id="main">
	<!-- 
	<div id="toolbar">
	</div>
	-->

	<!-- left -->
	<div id="left" class="uibox" >
		<ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">Profile</a></li>
			<li><a href="#">Messages</a></li>
			<li><a href="#">001</a></li>
			<li><a href="#">002</a></li>
			<li><a href="#">003</a></li>
			<li><a href="#">004</a></li>
			<li><a href="#">005</a></li>
			<li><a href="#">006</a></li>
		</ul>

		
	</div>

	<!-- right -->
	<div id="right" class="uibox">
		<div id="container">
			<div class="col-md-12 column">
				<ul class="breadcrumb">
					<li><a href="#">Home</a> <span class="divider">/</span></li>
					<li><a href="#">Library</a> <span class="divider">/</span></li>
					<li class="active">Data</li>
				</ul>
				<div class="alert alert-dismissable alert-info">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">Å~</button>
					<h4>Alert!</h4> 
					<strong>Warning!</strong> Best check yo self, you're not looking too good. <a href="#" class="alert-link">alert link</a>
				</div>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Product</th>
							<th>Payment Taken</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>TB - Monthly</td>
							<td>01/04/2012</td>
							<td>Default</td>
						</tr>
						<tr class="active">
							<td>1</td>
							<td>TB - Monthly</td>
							<td>01/04/2012</td>
							<td>Approved</td>
						</tr>
						<tr class="success">
							<td>2</td>
							<td>TB - Monthly</td>
							<td>02/04/2012</td>
							<td>Declined</td>
						</tr>
						<tr class="warning">
							<td>3</td>
							<td>TB - Monthly</td>
							<td>03/04/2012</td>
							<td>Pending</td>
						</tr>
						<tr class="danger">
							<td>4</td>
							<td>TB - Monthly</td>
							<td>04/04/2012</td>
							<td>Call in to confirm</td>
						</tr>
					</tbody>
				</table>
				<ul class="pagination">
					<li><a href="#">Prev</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">Next</a></li>
				</ul>
			</div>

			<div class="col-md-12 column">
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Panel heading</div>
				  <div class="panel-body">
				    <p>...</p>
				  </div>

				  <!-- Table -->
				  <table class="table">
					  
				  </table>
				</div>

			</div>


		</div>
	</div>
</body>

</html>